@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');
@import "variables.css";

/*componets*/
@import "components/status-bar.css";



/*screens*/
@import "screens/welcome-screen.css";


body{
  font-family: 'Open Sans', sans-serif;
}

a{
  text-decoration: none;
  color: black;
}