@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');
@import "variables.css";

/*componets*/
@import "components/status-bar.css";
@import "components/main-header.css";
@import "components/user-components.css";
@import "components/nav-bar.css";
@import "components/second__main-header.css";



/*screens*/
@import "screens/welcome-screen.css";
@import "screens/alt-header.css";
@import "screens/channel-screen.css";
@import "screens/notifications.css";
@import "screens/find-screen.css";
@import "screens/more-screen.css";
@import "screens/settings.css";

body{
  font-family: 'Open Sans', sans-serif;
}

a{
  text-decoration: none;
  color: black;
}