.user-components{
  display:flex;
  justify-content: space-between;
}

.user-components__column{
  display: flex;
  align-items: center;
}

.user-components__column h2{
  color: var(--color-light-grey);
}

.user-components__avatar{
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin: 20px 0;
}

.avatar__xs{
  width: 60px;
  height: 60px;
  border-radius: 25px;
}

.avatar__xl{
  width: 80px;
  height: 80px;
  border-radius: 35px;
}

.avatar__chat{
  width: 50px;
  height: 50px;
  border-radius: 20px;
}

.user-components__column__text-title{
  font-size: large;
  font-weight: 600;
}

.user-components__column__text-subtitle{
  font-size: medium;
  font-weight: 400;
  margin-top: 8px;
  opacity: 0.8;
}

.user-components__column-time{
  font-size: 12px;
}

.user-components__column__text{
  margin-left: 10px;
}  

.user-components__column:last-child{
  color: var(--color-light-grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-components__column:last-child .fa-angle-right{
  margin-left: 5px;
}